<h1>Header!</h1>

<div class="row">
  <div class="small-4 columns item">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajdslk asjdlakjsdlakjsdlka jsdlkajsdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns item">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajd slkasjdlakjsdlakjsdlkajsdlka jsdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajds lkasjdlakjsdlakjsdlkajsdlkajsdl kajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajdslk asjdlakjsdlakjsdlkajsdlkaj sdlkajsdlkajdlkajl as lkas dlkajs
    </p>
  </div>

  <div class="small-4 columns end">
    <h3>CONTENT</h3>
    <p>
       lkajsdlakjd lakjdlakjsdlkajd slkasjdlak sdlakjsdlkajsdlkajsdlkaj sdlkajdlkajl as lkas dlkajs
    </p>
  </div>
</div>

<div class="row">
  <div class="columns small-6 small-offset-3 panel">
    <form class="" action="index.html" method="post">
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label
            <input type="text" placeholder="large-12.columns" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large- columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" />
          </label>
        </div>
        <div class="large-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns" />
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <input type="submit" class="button">
      </div>
    </form>
  </div>
</div>
